/*Navigation*/
.name {
	font-size: 24px;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	font-size: 16px;
	color: #02ab8e;
	text-transform: uppercase;
  list-style: none;
}
.main-nav a:hover {
	color: #06295b;
}

body{
  background-color: #FFF;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-size: 14px;
  text-align: center;

}

header{
  float:left;
  margin: 0 0 35px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

/*Sticky Footer*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-footer {
  margin-top: auto;
}

/* Media Queries*/
@media (min-width: 769px) {
	.main-header,
  .main-nav {
    display: flex;
	}
  .main-header {
    flex-direction:column;
    align-items: center;
  }
}
@media (min-width: 1025px){
  .main-header{
    flex-direction: row;
    justify-content: space-between;
  }

}

/*navigation*/
nav{
  text-align: left;
  margin: 15px 0;
  padding: 15px 0 0 0;
  width:100% ;
  font-size:16px

}

nav ul{
  list-style: none;
  margin: 0 15px;
  padding: 0

}

nav li{
  display: inline-block;
  list-style: none;
}

nav a{
  font-weight: normal;
  padding: 20px 20px;
}

/*header*/
h1{
  text-align: center;
}

h2{
  font-size: 32px

}

/*Main, focal image*/
img{
  max-width: 100%;
  width: 45%;
}


/* colors index */
body {
  background-color: #FFF;

}

header {
  background: #FFF;

}


}
